body
{
    margin-left: auto;
    margin-right: auto;
    background-color: #F6F5EE;
}


header
{
    border-bottom: 3px solid black;
    font: 18px Impact;
}

h1
{
    padding-left: 40px;
    color: #3B0F1C;
}

nav
{
    position: absolute;
    left: 0;
    width: 320px;
    background: white url(bg/pixel-grid-bg.png) repeat;
    font: 1em tahoma, verdana;
    border-right: 1px solid black;
}

nav ul
{
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    padding: 0;
    border: none;
}

nav li
{
    border-bottom: 1px solid #EEE;
    height: 1.3em;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav li a
{
    display: block;
    color: #3B0F1C;
    width: 100%;
    text-decoration: none;
    margin-left: 10px;
}

html>body nav li a { width: auto; }

nav li a:hover
{
    background-color: white;
    color: #963414;
}

nav li .current
{
    background-color: gray;
}

#tooltip
{
    position: absolute;
    border: 1px solid black;
    font: 1em tahoma, verdana;
    background-color: white;
    margin: 0;
    padding: 0;
}

#tooltip h3
{
    padding: 5px;
    margin: 0;
    background-color: gray;
}

#content
{
    margin-left: 320px;
    font: 18px Georgia;
    padding: 20px;
    overflow: auto;
}

p.answer
{
    font-style: italic;
}

/** {*/
/*  -webkit-transition: all 0.2s ease;*/
/*  -moz-transition:    all 0.2s ease;*/
/*  -ms-transition:     all 0.2s ease;*/
/*  -o-transition:      all 0.2s ease;*/
/*}*/

var 
{
    background-color: #EAEAEA;
    font-family: monospace;
    font-style: normal;
}

pre
{
    background-color: #EAEAEA;
    margin-left: 2em;
    border: 1px solid black;
    padding: 10px;
}
